body {
    background-color: rgb(62, 62, 62);
    text-align: center;
}

#changeColor {
    width: 300px;
    height: 300px;
    background-color: coral;
    text-align: center;
    color: lightblue;
    border: solid 2px  black;
    box-shadow: 0 0 120px coral;
    margin: 50px 0 50px 0;
    border-radius: 20px;
}

#toggle {
    width: 500px;
    height: 200px;
    color: coral;
    margin: 0 auto;
}

h1 {
    color:aliceblue;
    margin: 80px 0 30px 0;
}

h2, #list {
    color: coral;
}

#list {
    font-size: 26px;
    margin: 0 auto;
    text-decoration: none;
    margin: 30px
}

#colorh1 {
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
    font-size: 50px;
}

button {
    color: rgb(26, 26, 26);
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0 0 70px rgba(255, 255, 255, 0.491);
}

#changetext {
    height: 30px;
    width: 400px;
    border: solid 2px black;
    padding: 20px;
    background-color: lightblue;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 0 70px rgba(255, 255, 255, 0.4);
    cursor: default;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0px 0px 70px rgb(255, 255, 255);
    color: coral;
    cursor: pointer;
}

#github {
    text-align: center;
    font-size: 60px;
    color: rgb(22, 22, 22);
    font-weight: bold;
}

#githubspan {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
    padding-right: 10px;
    font-size: 80px;
    box-shadow: 0 0 70px rgba(255, 255, 255, 0.4);
    cursor: default;
    border: solid 0px black;
    border-radius: 40px;
}

#gitlogo {
    padding-left: 10px;
}

#changeColor, #changetext {
    display: inline-block;
}

ul {
    list-style-type: none;
}

#githubspan:hover {
    box-shadow: 0 0 70px coral;
    cursor: default;
    color: rgb(255, 127, 80);
}