body {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 119, 255), rgb(255, 251, 0));
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: rgb(31, 31, 31);
}

#main_content {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    width: 1000px;
    padding: 50px 0 50px 0;
}

input {
    display:block;
    margin: 0 auto;
    font-size: 60px;
    margin-bottom: 80px;
    border: solid 0px black;
    border-radius: 10px;
    box-shadow: 0 0 160px rgb(255, 255, 255);
    color: rgb(83, 196, 185);
    font-family: 'Roboto Mono', monospace;
    padding: 10px 30px 10px 30px;
}

p {
    font-size: 40px;
}

button {
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    border: solid 0px black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    color: rgb(43, 43, 43);
    margin-bottom: 40px;
    background: linear-gradient(to bottom, rgba(229, 255, 0, 0.185), rgba(0, 208, 255, 0.244));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.272);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.58);
    box-shadow: 0 0 200px rgb(255, 255, 255);
}

h1 {
    font-size: 80px;
    color: rgb(31, 31, 31);
}

h2 {
    font-size: 40px;
    color: rgb(31, 31, 31);
    margin-bottom: 80px;
}

h3 {
    font-size: 28px;
    color: rgb(31, 31, 31);
    margin-bottom: 60px;
}

input:focus {
    border: none;
    outline: none;
}

@media only screen and (max-width: 1400px) {
  #main_content {
    width: 90%;
  }

  input {
    font-size: 50px;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
  }

  button {
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 40px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  #main_content {
    width: 80%;
  }

  input {
    font-size: 40px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 20px;
  }

  button {
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 30px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #main_content {
    width: 90%;
  }

  input {
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
  }

  button {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {
  #main_content {
    width: 95%;
  }

  input {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
  }

  button {
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
