html {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: rgb(88, 181, 153);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#container_1 {
    width: 47%;
    height: 500px;
    background-color: rgb(145, 203, 183);
    float: left;
    margin: 30px 30px 30px 50px;
    border-radius: 60px;
}

#container_2 {
    width: 47%;
    height: 500px;
    background-color: rgb(145, 203, 183);
    float: left;
    margin: 30px 30px 30px 30px;
    border-radius: 60px;
}

#container_1 input {
    display: block;
    margin: 0 auto;
    text-align: center;
}

button {
    width: 100px;
    height: 30px;
    background-color: rgb(66, 255, 211);
    border: solid 0px black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    color: #007bff;
    box-shadow: 0 0 10px #007bff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

input {
    border: solid 0px black;
    border-radius: 8px;
    height: 30px;
}